body {
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.img-container {
  /* original width 355px */
  /* original height 530px */
  width: 300px;
  height: 450px;
  border-radius: 10px 0 0 10px;
}

.text-container {
  /* original width 355px */
  /* original height 530px */
  width: 300px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}

.product {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  opacity: 0.5;
}

.product-name {
  font-family: 'Fraunces', serif;
  font-optical-sizing: auto;
  font-variation-settings: 'SOFT' 0, 'WONK' 0;
  font-size: xx-large;
  font-weight: 900;
}

.text-container > p {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  font-weight: 500;
  line-height: 1.25rem;
  opacity: 0.5;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.new-cost {
  font-family: 'Fraunces', serif;
  font-optical-sizing: auto;
  font-variation-settings: 'SOFT' 0, 'WONK' 0;
  font-weight: 700;
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
}

.old-cost {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  font-weight: 500;
  text-decoration: line-through;
  opacity: 0.5;
}

.add-to-cart {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 15px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(158, 42%, 18%);
}
